<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::header(课程列表)"></head>
<body>
<div th:include="navigation::common-nav"></div>

<div class="typo">
    <div class="container">
        <h2>课程列表</h2><hr/>
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        <a th:href="@{downloadTemplate}"><span class="label label-success">下载模板</span></a>
        <form th:method="POST" enctype="multipart/form-data" th:action="@{addquestions}" style="float: right">
            <input type="file" name="file" style="display:inline"/>
            <input type="submit" value="上传试题" />
        </form><hr/>
        <!--/*@thymesVar id="courselist" type="java.util.List"*/-->
        <div class="bs-docs-example" th:each="course:${courselist}">
            <!--/*@thymesVar id="course" type="cn.edu.nju.vo.CourseVo"*/-->
            <h3 th:text="${course.name}"></h3>
            <hr/>
            <a th:href="@{addexam(courseId=${course.courseId})}"><span class="label label-success">创建考试</span></a>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>考试名</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exam:${course.examForCourseVos}">
                    <td th:text="${exam.name}"></td>
                    <td><a th:href="@{downloadTranscript(examId=${exam.examId})}"><span class="label label-success">下载成绩单</span></a></td>
                </tr>
                </tbody>
            </table><hr/>
        </div>
    </div>
</div>
</body>

</html>