<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:include="head::header(考试列表)"></head>
<body>
    <div th:include="navigation::common-nav"></div>
    <div class="typo">
    <div class="container">
        <h2>考试列表</h2>
        <div class="bs-docs-example">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>科目</th>
                    <th>考试名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>状态</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="examlist" type="java.util.List"*/-->
                <tr th:each="exam:${examlist}">
                    <!--/*@thymesVar id="exam" type="cn.edu.nju.vo.ExamVo"*/-->
                    <td th:text="${exam.course}"></td>
                    <td th:text="${exam.name}"></td>
                    <td th:text="${exam.startDate}"></td>
                    <td th:text="${exam.endDate}"></td>
                    <td th:text="${exam.isAttended()} ? '已参加' :'未参加'"></td>
                    <!--<td><a th:href="@{index}" th:if="${exam.isIntime()}"><span class="label label-success" th:text="${exam.isLookThrough()} ?'参加考试':'不可参加'"></span></a></td>-->
                    <!--<td><a th:href="@{index}" th:if="${exam.isLookThrough()}"><span class="label label-info" th:text="${exam.isLookThrough()} ?'查看试卷':'不可查看'"></span></a></td>>-->
                    <td th:switch="${exam.isIntime()}">
                        <a th:href="@{examdetail(examId=${exam.examId})}" th:case="true"><span th:id="${exam.examPassword}" class="label label-success" data-toggle="modal" data-target="#myModal">参加考试</span></a>
                        <a th:case="false"><span class="label label-default">不可参加</span></a>
                    </td>
                    <td th:switch="${exam.isLookThrough()}">
                        <a th:href="@{paperdetail(examId=${exam.examId})}" th:case="true"><span class="label label-info">查看试卷</span></a>
                        <a th:case="false"><span class="label label-warning">不可查看</span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--&lt;!&ndash;/*@thymesVar id="examlist" type="java.util.List"*/&ndash;&gt;-->
            <!--&lt;!&ndash;/*@thymesVar id="exam" type="cn.edu.nju.vo.ExamVo"*/&ndash;&gt;-->
            <!--<span th:each="exam:${examlist}" style="display:none" th:value="${exam.examPassword}"></span>-->
        </div>
    </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">输入考试密码</h4>
                </div>
                <div class="modal-body">
                    <span style="display: none" id="right"></span>
                    <span style="display: none" id="href"></span>
                    <input type="text" id="input"/>
                    <span style="display: none" id="errorlog">密码错误</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="testpassword()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</body>
<script type="text/javascript">
    $("span.label-success").click(
        function () {
            thisid = $(this).attr("id");
            t = this.parentNode;
            $("#href").attr("value", $(t).attr("href"));
            $("#right").attr("value", thisid);
        }
    )
    function testpassword() {
        if($("#right").attr("value")==$("#input").val()){
            window.location.href=$("#href").attr("value");
        }else{
            $("#errorlog").css("display","block");
            $("#errorlog").css("color","red");
        }
    }
</script>
</html>
