<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::header(考试详情)"></head>
<body>
<link th:href="@{/css/fileinput.min.css}" rel='stylesheet' type='text/css'/>
<link type="text/css" rel='stylesheet' th:href="@{/css/bootstrap-datetimepicker.min.css}" media="screen"/>

<div th:include="navigation::common-nav"></div>
<div class="typo">
    <div class="container">
        <h2>考试详情</h2><hr/>
        <!--/*@thymesVar id="examInfo" type="cn.edu.nju.vo.ExamInfoVo"*/-->
        <form th:action="@{/submitexam}" enctype="multipart/form-data" th:object="${examInfo}" th:method="post">
            <div class="register-top-grid">
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                    <span>考试名称<label>*</label></span>
                    <input type="text" th:field="${examInfo.name}"/>
                </div>
            </div>
                <div class="clearfix"></div>
            <div class="register-bottom-grid">
                <!--/*@thymesVar id="courseId" type="java.lang.String"*/-->
                <input type="hidden" name="courseId" th:value="${courseId}"/>
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                    <span>单选题数目<label>*</label></span>
                    <input type="text" th:field="${examInfo.singleNum}"/>
                </div>
                <div class="wow fadeInRight" data-wow-delay="0.4s">
                    <span>单选题分值<label>*</label></span>
                    <input type="text" th:field="${examInfo.singleScore}"/>
                </div>
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                    <span>多选题数目<label>*</label></span>
                    <input type="text" th:field="${examInfo.mutipleNum}"/>
                </div>
                <div class="wow fadeInRight" data-wow-delay="0.4s">
                    <span>多选题分值<label>*</label></span>
                    <input type="text" th:field="${examInfo.mutipleScore}"/>
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 0px">
                <span style="color: #999">考试开始时间<label>*</label></span>
                <div class="form-group">
                    <div class="input-group date form_datetime" data-date-format="yyyy-MM-dd hh:ii"
                         data-link-field="dtp_input1" data-link-format="yyyy-mm-dd hh:ii">
                        <input class="form-control" size="16" type="text" readonly="true"/>
                        <span class="input-group-addon">
                            <span style="color: #999" class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span style="color: #999" class="glyphicon glyphicon-th"></span>
                        </span>
                    </div>
                    <input type="hidden" th:field="${examInfo.startTime}" id="dtp_input1"/>
                </div>

                <span style="color: #999">考试结束时间<label>*</label></span>
                <div class="form-group">
                    <div class="input-group date form_datetime" data-date-format="yyyy-MM-dd hh:ii"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd hh:ii">
                        <input class="form-control" size="16" type="text" readonly="true"/>
                        <span class="input-group-addon">
                            <span style="color: #999" class="glyphicon glyphicon-remove"></span>
                        </span>
                        <span class="input-group-addon">
                            <span style="color: #999" class="glyphicon glyphicon-th"></span>
                        </span>
                    </div>
                    <input type="hidden" th:field="${examInfo.endTime}" id="dtp_input2"/>
                </div>

                <span style="color: #999">考生名单<label>*</label></span>
                <input type="file" name="file" style="display:inline"/>

                <div class="register-but">
                    <input type="submit" value="提交" />
                    <div class="clearfix"></div>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fileinput-zh.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>

<script>
    $(document).on('ready', function() {
        $("input:file").fileinput({
            language: 'zh',
            allowedFileExtensions : [ 'xlsx','xls' ],
            showUpload: false
        });
    });
</script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
    });
</script>
</html>