<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::header(考试内容)"></head>
<body>
<link rel="stylesheet" th:href="@{css/awesome-bootstrap-checkbox.css}"/>
<div th:include="navigation::common-nav"></div>
<div class="typo">
    <div class="container">

        <div class="col-xs-9">
            <form th:action="@{/submitPaper(examId=${examId})}" method="post">
                <!--/*@thymesVar id="singleQues" type="java.util.ArrayList"*/-->
                <!--/*@thymesVar id="ques" type="cn.edu.nju.vo.QuestionVo"*/-->
                <h2 id="single">单选</h2><hr/>
                <div class="panel panel-primary" th:each="ques, quesStat:${singleQues}">
                    <div class="panel-heading" th:id="'question'+${quesStat.count}">
                        <h2 class="panel-title"
                            th:text="${quesStat.count} +'.'+ ${ques.content} +'(' + ${ques.score} +'分)'"></h2>
                        <button type="button" class="btn btn-warning btn-xs">Mark</button>
                    </div>

                    <div class="panel-body">
                        <!--/*@thymesVar id="allAnswers" type="java.util.List"*/-->
                        <div class="radio radio-success" th:each="answer, answerStat:${ques.allAnswers}">
                            <input type="radio" th:name="'question'+${ques.questionId}"
                                   th:id="'radio' + ${quesStat.count} + ${answerStat.count}"/>
                            <label class="label-color" th:for="'radio' + ${quesStat.count} + ${answerStat.count}"
                                   th:text="${answer}" th:value="${answer}" th:id="'radio' + ${quesStat.count} + ${answerStat.count} + 'label'"></label>
                        </div>
                    </div>
                </div>
                <!--/*@thymesVar id="mutipleQues" type="java.util.ArrayList"*/-->
                <!--/*@thymesVar id="mques" type="cn.edu.nju.vo.QuestionVo"*/-->
                <h2 id="mutiple">多选</h2><hr/>
                <div class="panel panel-primary" th:each="mques, mquesStat:${mutipleQues}">
                    <div class="panel-heading" th:id="'mquestion'+${mquesStat.count}">
                        <h2 class="panel-title"
                            th:text="${mquesStat.count} +'.'+ ${mques.content} +'(' + ${mques.score} +'分)'"></h2>
                        <button type="button" class="btn btn-warning btn-xs">Mark</button>
                    </div>

                    <div class="panel-body">
                        <label>
                        <!--/*@thymesVar id="allAnswers" type="java.util.ArrayList"*/-->
                        <div class="mycheckbox checkbox" th:each="answer, answerStat:${mques.allAnswers}">
                            <input type="checkbox" th:name="'mquestion'+${mques.questionId}"
                                   th:id="'mutiple' + ${mquesStat.count} + ${answerStat.count}" />
                            <label class="label-color" th:for="'mutiple' + ${mquesStat.count} + ${answerStat.count}"
                                   th:text="${answer}" th:value="${answer}" th:id="'mutiple' + ${mquesStat.count} + ${answerStat.count} + 'label'">
                            </label>
                        </div>
                        </label>
                    </div>
                </div>

                <div class="grid_3 grid_5" id="card">
                    <h2>答题卡</h2><hr/>
                    <h3>单选</h3>
                    <!--/*@thymesVar id="singleQues" type="java.util.List"*/-->
                    <!--/*@thymesVar id="quest" type="cn.edu.nju.vo.QuestionVo"*/-->
                    <h2>
                        <a th:each="quest,questStat:${singleQues}" th:href="'#question'+${questStat.count}">
                            <span class="label label-default" th:id="'question'+${quest.questionId}+'label'" th:text="(${questStat.count} lt 10) ? ('0'+ ${questStat.count}):${questStat.count}"></span>
                        </a>
                    </h2>
                    <h3>多选</h3>
                    <!--/*@thymesVar id="mutipleQues" type="java.util.List"*/-->
                    <!--/*@thymesVar id="quest" type="cn.edu.nju.vo.QuestionVo"*/-->
                    <h2>
                        <a th:each="quest,questStat:${mutipleQues}" th:href="'#mquestion'+${questStat.count}">
                            <span class="label label-default" th:id="'mquestion'+${quest.questionId}+'label'" th:text="(${questStat.count} lt 10) ? ('0'+ ${questStat.count}):${questStat.count}"></span>
                        </a>
                    </h2>
                </div>
                <div class="register-but">
                    <input type="submit" value="交卷" />
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>

        <div class="col-md-3" role="complementary">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <ul class="nav bs-docs-sidenav">
                    <li>
                        <a href="#single">单选</a>
                        <ul class="nav"></ul>
                    </li>
                    <li>
                        <a href="#mutiple">多选</a>
                        <ul class="nav"></ul>
                    </li>
                    <li>
                        <a href="#card">答题卡</a>
                        <ul class="nav"></ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $('button').click(
        function () {
            t = this.parentNode.parentNode;
            if (this.innerText == "Mark") {
                this.innerText = "Unmark";
                $(t).removeClass("panel panel-primary");
                $(t).addClass("panel panel-danger");
            } else {
                this.innerText = "Mark";
                $(t).removeClass("panel panel-danger");
                $(t).addClass("panel panel-primary");
            }
        });
    $("input:radio").click(
        function () {
            thisid = $(this).attr("id");
            nod = $('#'+thisid+'label');
            $(this).attr("value", $(nod).attr("value"));
            name = $(this).attr("name");
            node = $('#'+name+'label');
            node.removeClass("label label-default");
            node.addClass("label label-success");
        }
    )

    $("input:checkbox").click(
        function () {
            thisid = $(this).attr("id");
            thisname = $(this).attr("name");
            c = $("input[name="+thisname+"]");
            var input_value = "";
            var isDone = false;
            $.each(c, function (i, item) {
                $(item).attr("value", "");
                if(item.checked == true){
                    itemid = item.id;
                    itemlabel = $('#'+itemid+'label')
                    input_value += $(itemlabel).attr("value")+"###";
                    isDone = true;
                }
            })
            $.each(c, function (i, item) {
                $(item).attr("value", input_value);
            })


            node = $('#'+thisname+'label');
            if(isDone){
                node.removeClass("label label-default");
                node.addClass("label label-success");
            }else{
                node.removeClass("label label-success");
                node.addClass("label label-default");
            }
        }
    )

</script>
</html>