<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="applijewelleryion/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

    </script>
    <link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' media="screen"/>
    <link th:href="@{/css/main.css}" rel='stylesheet' type='text/css' media="screen"/>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->

    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dropotron.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/skel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/skel-viewport.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/skel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
</html>