<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::header(注册)"></head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a th:href="@{/index}">Cool Exam</a></h1>
            </div>

            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/index}">登录</a></li>
                        <li class="active"><a th:href="@{/register}">注册</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
<!-- registration -->
<div class="main-1">
    <div class="container">
        <div class="register">

            <!--/*@thymesVar id="user" type="cn.edu.nju.vo.UserVo"*/-->
            <form th:action="@{/registerconfirm}" th:object="${user}" th:method="post">
                <div class="register-top-grid">
                    <h3>个人信息</h3>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>姓名<label>*</label></span>
                        <input type="text" th:field="${user.name}"/>
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>邮箱<label>*</label></span>
                        <input type="text" th:field="${user.email}"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="register-bottom-grid">
                    <h3>登录信息</h3>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <span>学号<label>*</label></span>
                        <input type="text" th:field="${user.id}"/>
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <span>密码<label>*</label></span>
                        <input type="password" th:field="${user.password}"/>
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="register-but">
                    <input type="submit" value="提交" />
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- registration -->
</body>
</html>